body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef;
}
header {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 2rem;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.feature-box {
    background-color: white
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}
footer{
    background-color: #333
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}